<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"/>
  <link rel="stylesheet" href="/style.css"/>
  <title>Michael Scott Fulton</title>
  <meta name="description" content="Michael Fulton's Personal Website">
  <meta name="author" content="Michael Fulton">
</head>

<body>
  <div>
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="#">Michael Fulton</a>

      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/resume" class="pure-menu-link">Resume</a></li>
      </ul>
    </div>
  </div>
  </br> </br> </br></br>
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Michael Scott Fulton</h1>
      <p>
      I'm a computer scientist from Clarkson University. I'm currently building this webpage from scratch, teaching myself Node, Express.js, Angular,
      and a whole host of over web technologies as I go.  This website will slowly be gaining functionality and pages as time goes by, but for now 
      feel free to check out my resume by clicking the link below.
      </p>
      <p><a class="btn btn-primary btn-lag" href="/resume" role="button">Check Out My Resume!</a></p>
    </div>
  </div>
</body>
</html>
